//=================================
// Auth Styles
//=================================

#login,
#signup,
#forgot-password,
#reset-password {
	width: 300px;
	margin: 0 auto;

	h1 {
		font-size: 20px;
		font-weight: 500;
		margin: 0 0 30px 0;
	}
	span.error { margin-left: 5px; }

	.terms {
		color: $color-text-muted;
		margin-bottom: 20px;
	}

	.forgot-password,
	.back-to-login {
		float: right;
		line-height: 42px;
		color: $color-text-muted;
		&:hover { color: $color-accent; }
	}
}

#signup {
	h1 {
		text-align: center;
		margin-bottom: 10px;
	}
	.intro {
		text-align: center;
		margin-bottom: 0px;
	}
	.encryption {
		text-align: center;
		margin-bottom: 30px;
		color: $color-primary;
	}
	.terms {
		text-align: center;
		margin-bottom: 40px;
	}
	.btn {
		display: block;
		margin: 0 auto;
	}
}
