//=================================
// Billing Styles
//=================================

#billing {
	.pricing-table {
		text-align: center;
		font-size: 16px;
		@include clearfix;

		.plan {
			float: left;
			width: 30%;
			margin: 0 5% 50px 0;
			padding: 40px 30px;
			border: 2px solid #ddd;
			border-radius: 3px;
			box-sizing: border-box;

			&.enterprise { margin-right: 0; }

			h2 {
				font-size: 22px;
				font-weight: 600;
				line-height: 1.3em;
				margin: 0 0 20px 0;
			}
			ul { margin: 0 0 20px 0; }
			.price {
				display: block;
				font-size: 20px;
				margin-bottom: 20px;
				.timeframe {
					font-size: 14px;
					color: $color-text-muted;
				}
			}
			.btn {
				display: block;
				font-size: 16px;
				padding: 15px 0;
			}
		}
		.risk {
			clear: both;
			color: #bbb;
			margin-bottom: 0;
		}
		.edit-billing,
		.downgrade-team { margin-top: 20px; }
	}

	.faq {
		border-top: 1px solid #eee;
		padding-top: 50px;
		margin-top: 50px;
		@include clearfix;

		.pull-left,
		.pull-right { width: 47%; }

		h3 {
			font-size: 18px;
			font-weight: 600;
			line-height: 1.3em;
			margin: 0 0 10px 0;
		}
		p { margin-bottom: 40px; }
	}
}

#upgrade,
#billing-edit {
	width: 300px;
	margin: 0 auto;

	h1 { text-align: center; }
	.encryption {
		color: $color-primary;
		text-align: center;
		margin-bottom: 30px;
	}

	.return {
		float: right;
		color: $color-text-muted;
		line-height: 42px;
		&:hover { color: $color-accent; }
	}
}
