//=================================
// Milestone Styles
//=================================

.milestone {
	margin-bottom: 60px;

	.milestone-header {
		line-height: 60px;
		font-size: 16px;
		color: $color-text-muted;
		border-bottom: 1px solid #eee;
		margin-bottom: 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		.milestone-name {
			font-weight: 500;
			color: $color-text;
			margin-right: 10px;
		}
		a:hover .milestone-name { color: $color-accent; }
		.milestone-description { color: $color-text-muted; }
		.milestone-meta {
			font-size: 14px;
			line-height: 22px;
			margin: -10px 0 15px 0;
			white-space: normal;

			.milestone-createdat { margin-right: 10px; }
			.milestone-edit {
				font-size: 16px;
				color: $color-text-muted;
				&:hover { color: $color-accent; }
			}
			.milestone-delete {
				font-size: 16px;
				color: $color-text-muted;
				margin-left: 10px;
				&:hover { color: $color-warning; }
			}
		}
	}

	.task {
		height: 40px;
		line-height: 40px;
		color: #999;

		.completed {
			display: inline-block;
			width: auto;
			padding: 0;
			margin: 14px 20px 0 0;
			vertical-align: top;
		}
		a {
			display: inline-block;
			max-width: 300px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			color: $color-text-muted;
		}
		.task-name {
			font-weight: 500;
			color: $color-text;
			margin-right: 10px;
		}
		a:hover .task-name { color: $color-accent; }
		&.completed .task-name {
			color: #999;
			text-decoration: line-through;
		}
		.task-description { color: $color-text-muted; }
		.task-assignedto,
		.task-duedate { margin-left: 10px; }

		&.ui-sortable-helper { background: #fff; } // While being dragged
	}

	&.ui-sortable-helper { background: #fff; } // While being dragged
}
#milestones .milestone .task.completed { display: none; }

.milestone-create {
	margin-bottom: 120px;

	.create-milestone-wrap {
		text-align: center;
		margin-bottom: 15px;
	}
	.milestone-form { display: none; }
	&.active {
		.milestone-form { display: block; }
		.create-milestone { color: $color-text; }
	}
}
