//=================================
// Project Styles
//=================================

#projects {
	.title {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.3em;
		color: $color-text;
		margin: 0 0 25px 2%;

		&.shared-projects-title { margin-top: 10px; }
	}
	ul { @include clearfix; }
}

.project {
	display: block;
	float: left;
	width: 29%;
	margin: 0 2% 30px 2%;
	box-sizing: border-box;
	position: relative;

	.project-link {
		display: block;
		height: 150px;
		padding: 25px;
		color: $color-text-muted;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		border: 1px solid $color-input-border;
		border-radius: 3px;

		&:hover .project-name { color: $color-accent; }
	}
	.project-name {
		display: block;
		font-size: 16px;
		font-weight: 500;
		color: $color-text;
		margin-bottom: 5px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.project-description { color: $color-text-muted; }
	.project-meta {
		display: block;
		position: absolute;
		bottom: 25px;
		left: 25px;

		.users {
			height: 30px;
			padding-left: 15px;
			li {
				display: inline-block;
				margin-left: -15px;
				img {
					display: block;
					border-radius: 30px;
				}
			}
		}
	}
	.project-edit,
	.project-delete {
		display: none;
		position: absolute;
		bottom: 25px;
		right: 25px;
		font-size: 16px;
		line-height: 30px;
		background: #fff;
		padding: 0 0 0 10px;
		color: $color-text-muted;
		&:hover { color: $color-warning; }
	}
	.project-edit {
		right: 50px;
		&:hover { color: $color-accent; }
	}

	&:hover {
		.project-link { border-color: $color-input-border-hover; }
		.project-edit,
		.project-delete { display: block; }
	}

	&.ui-sortable-helper { background: #fff; } // While being dragged
}

.project-create,
.project-import,
.project-free-trial {
	display: block;
	float: left;
	width: 29%;
	margin: 0 2% 30px 2%;
	box-sizing: border-box;
	position: relative;

	a {
		display: block;
		height: 150px;
		line-height: 150px;
		padding: 25px;
		color: $color-text-muted;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		border: 1px solid $color-input-border;
		border-radius: 3px;

		&:hover {
			border-color: $color-input-border-hover;
			color: $color-accent;
		}
	}
}

.project-import {
	&.basecamp .open {
		background: url(../images/basecamp.png) no-repeat 50% 37%;
		line-height: 180px;
	}
}

.project-edit-modal {
	.task-categories,
	.task-phases {
		margin-bottom: 20px;

		label {
			display: block;
			font-weight: 600;
		}
		.task-category,
		.task-phase {
			display: inline;
			div {
				display: inline;
				cursor: pointer;
			}
		}
		button {
			background: none;
			padding: 0;
			border: 0;
			font: 14px/22px $font-family;
			color: $color-text;
			outline: 0;

			&[data-action="add"] {
				color: $color-accent;
				&:hover { color: $color-text; }
				&:after {
					content: ' \002B';
				}
			}
			&[data-action="remove"] {
				color: $color-warning;
				&:hover { color: $color-text; }
			}
		}
	}
}
