//=================================
// Structure Styles
//=================================

.header {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #eee;

	.title {
		display: block;
		float: left;
		background: $color-accent;
		font-weight: 600;
		color: #fff;
		height: 60px;
		padding: 0 20px;
	}
	.project-select {
		display: block;
		float: left;
		max-width: 200px;
		height: 60px;
		border-right: 1px solid #eee;

		.styled-select {
			border: 0;
			margin: 0;

			select{
				max-width: 200px;
				padding: 19px 30px 19px 12px;
				color: $color-text;
			}
		}
	}
	a.project-select {
		padding: 0 12px;
		color: $color-text;
		&:hover { color: $color-accent; }
	}

	.settings-nav {
		float: right;
		padding: 0 30px 0 20px;

		ul { display: none; }
		& > li {
			display: inline-block;
			margin-left: 10px;

			& > a {
				color: $color-text-muted;
				padding: 10px;
				&:hover { color: $color-text; }

				&.icon-cog { font-size: 16px; }
			}
		}
		.dropit-submenu {
			left: auto;
			right: -6px;
			top: 85%;

			&:before {
				display: block;
				content: '';
				position: absolute;
				top: -9px;
				right: 13px;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 10px 9px 10px;
				border-color: transparent transparent #ddd transparent;
			}
			&:after {
				display: block;
				content: '';
				position: absolute;
				top: -8px;
				right: 15px;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 8px 8px 8px;
				border-color: transparent transparent #fff transparent;
			}

			.active a {
				background: $color-accent;
				color: #fff;
			}
		}
		.activity .dropit-submenu {
			width: 300px;
			.item a {
				font-size: 12px;
				.action,
				.object { color: $color-text-muted; }
			}
		}
	}
}

#content {
	width: 800px;
	margin: 60px auto;
}

.breadcrumb {
	font-size: 14px;
	color: #ddd;

	a, a:visited { color: $color-text-muted; }
	a:hover { color: $color-accent; }
	.sep { margin: 0 3px; }
}
