//=================================
// Task Styles
//=================================

.task {
	.task-header {
		line-height: 60px;
		font-size: 16px;
		color: $color-text-muted;
		border-bottom: 1px solid #eee;
		margin-bottom: 25px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		.project-breadcrumb {
			color: #bbb;
			&:hover { color: $color-accent; }
		}
		.task-name {
			font-weight: 500;
			color: $color-text;
			margin-right: 10px;
		}
		.task-meta {
			font-size: 14px;
			line-height: 22px;
			margin: -10px 0 15px 0;
			white-space: normal;

			.task-category,
			.task-phase,
			.task-assignedto,
			.task-duedate,
			.task-createdby { margin-right: 10px; }

			.task-complete {
				font-size: 16px;
				color: $color-text-muted;
				&:hover { color: $color-primary; }
			}
			.task-edit {
				font-size: 16px;
				color: $color-text-muted;
				margin-left: 10px;
				&:hover { color: $color-accent; }
			}
			.task-delete {
				font-size: 16px;
				color: $color-text-muted;
				margin-left: 10px;
				&:hover { color: $color-warning; }
			}
		}
	}
	&.completed .task-header .task-name {
		color: $color-text-muted;
		text-decoration: line-through;
	}

	.task-comment {
		font-size: 16px;
		margin-bottom: 20px;

		.comment-author {
			font-size: 14px;
			color: $color-text-muted;
			line-height: 20px;
			margin-bottom: 5px;

			.name {
				font-size: 16px;
				font-weight: 500;
				color: $color-text;
			}
			.date {
				font-size: 14px;
				color: $color-text-muted;
			}
			.avatar img {
				display: block;
				float: left;
				width: 40px;
				height: 40px;
				border-radius: 40px;
				margin-right: 15px;
			}
			.delete {
				font-size: 14px;
				color: $color-text-muted;
				&:hover { color: $color-warning; }
			}
		}
		.comment-content {
			margin-left: 55px;

			h1,h2,h3,h4,h5 {
				font-size: 20px;
				font-weight: 600;
				margin: 30px 0 20px 0;
			}
			h1 { margin-top: 0; }
			p { margin-bottom: 20px; }
			ol {
				list-style: decimal;
				margin: 0 0 20px 30px;
			}
			ul {
				list-style: disc;
				margin: 0 0 20px 25px;
			}

			p:last-child,
			ul:last-child,
			ol:last-child { margin-bottom: 0; }
		}
		.task-comment-attachments {
			margin: 0 0 0 55px;
			@include clearfix;

			li {
				display: block;
				float: left;
				width: 171px;
				height: 220px;
				border: 1px solid #eee;
				margin: 20px 20px 0 0;
				font-size: 12px;
				text-align: center;
				overflow: hidden;

				.thumb {
					background-color: #f5f5f5;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: cover;
					border-bottom: 1px solid #eee;
					height: 150px;
					overflow: hidden;
					margin-bottom: 13px;

					&:before {
						font-size: 26px;
						line-height: 150px;
						color: #aaa;
					}
				}
				.name {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					padding: 0 20px;
					color: $color-text;
				}
				a:hover .name { color: $color-accent; }
				.meta {
					color: $color-text-muted;
				}
			}
		}
	}
	.task-comment-create {
		position: relative;

		.comment-author .avatar img {
			display: block;
			float: left;
			width: 40px;
			height: 40px;
			border-radius: 40px;
			margin-right: 15px;
		}
		.comment-form { overflow: auto; }
		.attach-files { margin-left: 15px; }
		.create-task-comment-attachment {
			margin-bottom: 5px;

			.size {
				color: $color-text-muted;
				margin: 0 3px;
			}
			.delete-attachment {
				display: none;
				font-size: 16px;
				color: $color-text-muted;
				&:hover { color: $color-warning; }
			}
			&.uploaded {
				.progress { display: none; }
				.delete-attachment { display: inline; }
			}
		}
		.formatting {
			float: right;
			line-height: 42px;
			color: $color-text-muted;
			&:hover { color: $color-accent; }
		}

		label,
		.btn,
		div[data-error],
		.attach-files,
		.attach-files-list,
		.formatting { display: none; }
		textarea {
			width: 100%;
			height: 47px;
		}
		&.active .btn,
		&.active .attach-files,
		&.active .formatting { display: inline-block; }
		&.active div[data-error],
		&.active .attach-files-list { display: block; }
		&.active textarea { height: 150px; }
	}
}

.task-create {
	padding-top: 5px;

	label,
	input,
	textarea,
	select,
	.error div[data-error],
	.styled-select { display: none; }
	input[name="name"],
	&.active input,
	&.active textarea,
	&.active select,
	&.active .error div[data-error],
	&.active .styled-select { display: block; }
	&.active .btn { display: inline-block; }
}

.formatting-help-modal .modal-content {
	table th, table td { line-height: 1.6em; }
	h1,h2,h3,h4,h5 {
		font-size: 20px;
		font-weight: 600;
		margin: 30px 0 20px 0;
	}
	h1 { margin-top: 0; }
	p { margin-bottom: 20px; }
	ol {
		list-style: decimal;
		margin: 0 0 20px 30px;
	}
	ul {
		list-style: disc;
		margin: 0 0 20px 25px;
	}
}
