/*=================================*/
/* Artisan
/*=================================*/
@font-face {
  font-family: "artisan-icons";
  src: url("../fonts/artisan-icons.eot");
  src: url("../fonts/artisan-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/artisan-icons.ttf") format("truetype"), url("../fonts/artisan-icons.svg#artisan-icons") format("svg"), url("../fonts/artisan-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "artisan-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "artisan-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
  content: "a";
}

.icon-pencil:before {
  content: "b";
}

.icon-user:before {
  content: "c";
}

.icon-cog:before {
  content: "d";
}

.icon-upload:before {
  content: "e";
}

.icon-download:before {
  content: "f";
}

.icon-tick:before {
  content: "g";
}

.icon-cross:before {
  content: "h";
}

.icon-bell:before {
  content: "i";
}

.icon-file:before {
  content: "j";
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* make buttons play nice in IE:   
    www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}

/* Sharper Thumbnails */
img {
  -ms-interpolation-mode: bicubic;
}

ul, ol {
  list-style: none;
}

input,
textarea,
select,
.styled-select {
  font: 14px/22px "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  background: white;
  border: 1px solid #dddddd;
  margin: 0 0 20px 0;
  padding: 9px 12px;
  outline: 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input:hover,
textarea:hover,
select:hover,
.styled-select:hover {
  border-color: #cccccc;
}
input:focus,
textarea:focus,
select:focus,
.styled-select:focus {
  border-color: #2e7aeb;
}

input[type="checkbox"] {
  height: auto;
}

textarea {
  height: 130px;
  line-height: 1.6;
  padding: 12px;
}

form input,
form textarea,
form select,
form .styled-select {
  width: 100%;
}
form .btn {
  width: auto;
}

.backbone-form label {
  display: none;
}
.backbone-form [data-error] {
  float: left;
  color: #f26c4f;
  margin: -15px 0 15px 0;
}

.styled-select {
  padding: 0;
  position: relative;
  clear: both;
}
.styled-select select {
  width: 100%;
  color: #999999;
  background: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}
.styled-select:after {
  display: block;
  content: '';
  position: absolute;
  top: 45%;
  right: 12px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #cccccc transparent transparent transparent;
}
.styled-select:hover:after {
  border-color: #999999 transparent transparent transparent;
}

table {
  width: 100%;
  margin-bottom: 1em;
}
table th,
table td {
  line-height: 40px;
  padding: 0 12px;
}
table thead {
  margin-bottom: 5px;
}
table thead th {
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

input[type="submit"] {
  -webkit-appearance: none;
}

.btn,
a.btn,
a.btn:visited,
input.btn {
  display: inline-block;
  background: #7ac673;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  padding: 10px 18px;
  border: 0;
  border-radius: 3px;
}
.btn:hover, .btn:active,
a.btn:hover,
a.btn:active,
a.btn:visited:hover,
a.btn:visited:active,
input.btn:hover,
input.btn:active {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}
.btn.danger,
a.btn.danger,
a.btn:visited.danger,
input.btn.danger {
  background: #f26c4f;
}
.btn.danger:hover,
a.btn.danger:hover,
a.btn:visited.danger:hover,
input.btn.danger:hover {
  background: #f26c4f;
}
.btn.alt,
a.btn.alt,
a.btn:visited.alt,
input.btn.alt {
  color: #444444 !important;
  background-color: #f4f5f6;
}
.btn.alt:hover,
a.btn.alt:hover,
a.btn:visited.alt:hover,
input.btn.alt:hover {
  background-color: #e9ebec;
  opacity: 1;
}

/* Modal positioning */
.bbm-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bbm-modal {
  margin: 100px auto;
  width: auto;
  max-width: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bbm-views {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Modal stlying */
.bbm-wrapper {
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.bbm-modal {
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

.modal-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.modal-content .btn {
  margin-bottom: 0;
}

/*
 * Bootstrap Modal
 */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.modal {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 99999;
  width: 500px;
  margin: 150px 0 0 -250px;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}
.modal input,
.modal textarea {
  width: 100%;
}
.modal .btn {
  width: auto;
}
.modal .modal-body input[type="button"] {
  display: none;
}

.dropit {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropit .dropit-trigger {
  position: relative;
}

.dropit .dropit-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  /* dropdown left or right */
  z-index: 1000;
  display: none;
  min-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropit .dropit-open .dropit-submenu {
  display: block;
}

/* Styling */
.dropit .dropit-submenu {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 0;
  margin: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.dropit .dropit-submenu a {
  display: block;
  font-size: 14px;
  line-height: 25px;
  color: #444444;
  padding: 0 18px;
}
.dropit .dropit-submenu a:hover {
  background: #2e7aeb;
  color: #fff;
}

.ui-datepicker {
  width: 17em;
  padding: 20px;
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 0px;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev {
  left: 1px;
}

.ui-datepicker .ui-datepicker-next {
  right: 1px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
  color: #999999;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev-hover span,
.ui-datepicker .ui-datepicker-next-hover span {
  color: #2e7aeb;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: 600;
  border: 0;
  line-height: 1.6em;
}

.ui-datepicker td {
  border: 0;
  padding: 1px;
  line-height: 1.6em;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

body,
html {
  height: 100%;
}

body {
  font: 14px/22px "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  background: white;
  -webkit-text-size-adjust: none;
}

a, a:visited {
  color: #2e7aeb;
  text-decoration: none;
}

a:hover, a:active {
  color: #444444;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.7em;
  margin-top: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

p {
  margin-bottom: 1em;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

abbr, acronym {
  cursor: help;
  border-bottom: .1em dotted;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

code {
  font: 13px/22px Consolas, monaco, monospace;
  background: #FFFDDC;
  color: #555;
  padding: 1px 5px;
  border-radius: 2px;
}

pre {
  background: #FFFDDC;
  padding: 20px;
  margin-bottom: 1em;
  overflow: auto;
}
pre code {
  background: none;
  padding: 0;
}

blockquote {
  font-style: italic;
  margin: 0 0 1em 0;
  padding-left: 15px;
  border-left: 3px solid #eee;
}

hr {
  height: 0;
  border: 1px solid #eee;
  margin: 1em 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.error {
  color: #f26c4f;
}

.success {
  color: #7ac673;
}

.header {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #eee;
}
.header .title {
  display: block;
  float: left;
  background: #2e7aeb;
  font-weight: 600;
  color: #fff;
  height: 60px;
  padding: 0 20px;
}
.header .project-select {
  display: block;
  float: left;
  max-width: 200px;
  height: 60px;
  border-right: 1px solid #eee;
}
.header .project-select .styled-select {
  border: 0;
  margin: 0;
}
.header .project-select .styled-select select {
  max-width: 200px;
  padding: 19px 30px 19px 12px;
  color: #444444;
}
.header a.project-select {
  padding: 0 12px;
  color: #444444;
}
.header a.project-select:hover {
  color: #2e7aeb;
}
.header .settings-nav {
  float: right;
  padding: 0 30px 0 20px;
}
.header .settings-nav ul {
  display: none;
}
.header .settings-nav > li {
  display: inline-block;
  margin-left: 10px;
}
.header .settings-nav > li > a {
  color: #999999;
  padding: 10px;
}
.header .settings-nav > li > a:hover {
  color: #444444;
}
.header .settings-nav > li > a.icon-cog {
  font-size: 16px;
}
.header .settings-nav .dropit-submenu {
  left: auto;
  right: -6px;
  top: 85%;
}
.header .settings-nav .dropit-submenu:before {
  display: block;
  content: '';
  position: absolute;
  top: -9px;
  right: 13px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 9px 10px;
  border-color: transparent transparent #ddd transparent;
}
.header .settings-nav .dropit-submenu:after {
  display: block;
  content: '';
  position: absolute;
  top: -8px;
  right: 15px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #fff transparent;
}
.header .settings-nav .dropit-submenu .active a {
  background: #2e7aeb;
  color: #fff;
}
.header .settings-nav .activity .dropit-submenu {
  width: 300px;
}
.header .settings-nav .activity .dropit-submenu .item a {
  font-size: 12px;
}
.header .settings-nav .activity .dropit-submenu .item a .action,
.header .settings-nav .activity .dropit-submenu .item a .object {
  color: #999999;
}

#content {
  width: 800px;
  margin: 60px auto;
}

.breadcrumb {
  font-size: 14px;
  color: #ddd;
}
.breadcrumb a, .breadcrumb a:visited {
  color: #999999;
}
.breadcrumb a:hover {
  color: #2e7aeb;
}
.breadcrumb .sep {
  margin: 0 3px;
}

#login,
#signup,
#forgot-password,
#reset-password {
  width: 300px;
  margin: 0 auto;
}
#login h1,
#signup h1,
#forgot-password h1,
#reset-password h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 30px 0;
}
#login span.error,
#signup span.error,
#forgot-password span.error,
#reset-password span.error {
  margin-left: 5px;
}
#login .terms,
#signup .terms,
#forgot-password .terms,
#reset-password .terms {
  color: #999999;
  margin-bottom: 20px;
}
#login .forgot-password,
#login .back-to-login,
#signup .forgot-password,
#signup .back-to-login,
#forgot-password .forgot-password,
#forgot-password .back-to-login,
#reset-password .forgot-password,
#reset-password .back-to-login {
  float: right;
  line-height: 42px;
  color: #999999;
}
#login .forgot-password:hover,
#login .back-to-login:hover,
#signup .forgot-password:hover,
#signup .back-to-login:hover,
#forgot-password .forgot-password:hover,
#forgot-password .back-to-login:hover,
#reset-password .forgot-password:hover,
#reset-password .back-to-login:hover {
  color: #2e7aeb;
}

#signup h1 {
  text-align: center;
  margin-bottom: 10px;
}
#signup .intro {
  text-align: center;
  margin-bottom: 0px;
}
#signup .encryption {
  text-align: center;
  margin-bottom: 30px;
  color: #7ac673;
}
#signup .terms {
  text-align: center;
  margin-bottom: 40px;
}
#signup .btn {
  display: block;
  margin: 0 auto;
}

#projects .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3em;
  color: #444444;
  margin: 0 0 25px 2%;
}
#projects .title.shared-projects-title {
  margin-top: 10px;
}
#projects ul {
  zoom: 1;
}
#projects ul:before, #projects ul:after {
  content: "";
  display: table;
}
#projects ul:after {
  clear: both;
}

.project {
  display: block;
  float: left;
  width: 29%;
  margin: 0 2% 30px 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.project .project-link {
  display: block;
  height: 150px;
  padding: 25px;
  color: #999999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.project .project-link:hover .project-name {
  color: #2e7aeb;
}
.project .project-name {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #444444;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.project .project-description {
  color: #999999;
}
.project .project-meta {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 25px;
}
.project .project-meta .users {
  height: 30px;
  padding-left: 15px;
}
.project .project-meta .users li {
  display: inline-block;
  margin-left: -15px;
}
.project .project-meta .users li img {
  display: block;
  border-radius: 30px;
}
.project .project-edit,
.project .project-delete {
  display: none;
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 16px;
  line-height: 30px;
  background: #fff;
  padding: 0 0 0 10px;
  color: #999999;
}
.project .project-edit:hover,
.project .project-delete:hover {
  color: #f26c4f;
}
.project .project-edit {
  right: 50px;
}
.project .project-edit:hover {
  color: #2e7aeb;
}
.project:hover .project-link {
  border-color: #cccccc;
}
.project:hover .project-edit,
.project:hover .project-delete {
  display: block;
}
.project.ui-sortable-helper {
  background: #fff;
}

.project-create,
.project-import,
.project-free-trial {
  display: block;
  float: left;
  width: 29%;
  margin: 0 2% 30px 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.project-create a,
.project-import a,
.project-free-trial a {
  display: block;
  height: 150px;
  line-height: 150px;
  padding: 25px;
  color: #999999;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.project-create a:hover,
.project-import a:hover,
.project-free-trial a:hover {
  border-color: #cccccc;
  color: #2e7aeb;
}

.project-import.basecamp .open {
  background: url(../images/basecamp.png) no-repeat 50% 37%;
  line-height: 180px;
}

.project-edit-modal .task-categories,
.project-edit-modal .task-phases {
  margin-bottom: 20px;
}
.project-edit-modal .task-categories label,
.project-edit-modal .task-phases label {
  display: block;
  font-weight: 600;
}
.project-edit-modal .task-categories .task-category,
.project-edit-modal .task-categories .task-phase,
.project-edit-modal .task-phases .task-category,
.project-edit-modal .task-phases .task-phase {
  display: inline;
}
.project-edit-modal .task-categories .task-category div,
.project-edit-modal .task-categories .task-phase div,
.project-edit-modal .task-phases .task-category div,
.project-edit-modal .task-phases .task-phase div {
  display: inline;
  cursor: pointer;
}
.project-edit-modal .task-categories button,
.project-edit-modal .task-phases button {
  background: none;
  padding: 0;
  border: 0;
  font: 14px/22px "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  outline: 0;
}
.project-edit-modal .task-categories button[data-action="add"],
.project-edit-modal .task-phases button[data-action="add"] {
  color: #2e7aeb;
}
.project-edit-modal .task-categories button[data-action="add"]:hover,
.project-edit-modal .task-phases button[data-action="add"]:hover {
  color: #444444;
}
.project-edit-modal .task-categories button[data-action="add"]:after,
.project-edit-modal .task-phases button[data-action="add"]:after {
  content: ' \002B';
}
.project-edit-modal .task-categories button[data-action="remove"],
.project-edit-modal .task-phases button[data-action="remove"] {
  color: #f26c4f;
}
.project-edit-modal .task-categories button[data-action="remove"]:hover,
.project-edit-modal .task-phases button[data-action="remove"]:hover {
  color: #444444;
}

.milestone {
  margin-bottom: 60px;
}
.milestone .milestone-header {
  line-height: 60px;
  font-size: 16px;
  color: #999999;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.milestone .milestone-header .milestone-name {
  font-weight: 500;
  color: #444444;
  margin-right: 10px;
}
.milestone .milestone-header a:hover .milestone-name {
  color: #2e7aeb;
}
.milestone .milestone-header .milestone-description {
  color: #999999;
}
.milestone .milestone-header .milestone-meta {
  font-size: 14px;
  line-height: 22px;
  margin: -10px 0 15px 0;
  white-space: normal;
}
.milestone .milestone-header .milestone-meta .milestone-createdat {
  margin-right: 10px;
}
.milestone .milestone-header .milestone-meta .milestone-edit {
  font-size: 16px;
  color: #999999;
}
.milestone .milestone-header .milestone-meta .milestone-edit:hover {
  color: #2e7aeb;
}
.milestone .milestone-header .milestone-meta .milestone-delete {
  font-size: 16px;
  color: #999999;
  margin-left: 10px;
}
.milestone .milestone-header .milestone-meta .milestone-delete:hover {
  color: #f26c4f;
}
.milestone .task {
  height: 40px;
  line-height: 40px;
  color: #999;
}
.milestone .task .completed {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 14px 20px 0 0;
  vertical-align: top;
}
.milestone .task a {
  display: inline-block;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #999999;
}
.milestone .task .task-name {
  font-weight: 500;
  color: #444444;
  margin-right: 10px;
}
.milestone .task a:hover .task-name {
  color: #2e7aeb;
}
.milestone .task.completed .task-name {
  color: #999;
  text-decoration: line-through;
}
.milestone .task .task-description {
  color: #999999;
}
.milestone .task .task-assignedto,
.milestone .task .task-duedate {
  margin-left: 10px;
}
.milestone .task.ui-sortable-helper {
  background: #fff;
}
.milestone.ui-sortable-helper {
  background: #fff;
}

#milestones .milestone .task.completed {
  display: none;
}

.milestone-create {
  margin-bottom: 120px;
}
.milestone-create .create-milestone-wrap {
  text-align: center;
  margin-bottom: 15px;
}
.milestone-create .milestone-form {
  display: none;
}
.milestone-create.active .milestone-form {
  display: block;
}
.milestone-create.active .create-milestone {
  color: #444444;
}

.task .task-header {
  line-height: 60px;
  font-size: 16px;
  color: #999999;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.task .task-header .project-breadcrumb {
  color: #bbb;
}
.task .task-header .project-breadcrumb:hover {
  color: #2e7aeb;
}
.task .task-header .task-name {
  font-weight: 500;
  color: #444444;
  margin-right: 10px;
}
.task .task-header .task-meta {
  font-size: 14px;
  line-height: 22px;
  margin: -10px 0 15px 0;
  white-space: normal;
}
.task .task-header .task-meta .task-category,
.task .task-header .task-meta .task-phase,
.task .task-header .task-meta .task-assignedto,
.task .task-header .task-meta .task-duedate,
.task .task-header .task-meta .task-createdby {
  margin-right: 10px;
}
.task .task-header .task-meta .task-complete {
  font-size: 16px;
  color: #999999;
}
.task .task-header .task-meta .task-complete:hover {
  color: #7ac673;
}
.task .task-header .task-meta .task-edit {
  font-size: 16px;
  color: #999999;
  margin-left: 10px;
}
.task .task-header .task-meta .task-edit:hover {
  color: #2e7aeb;
}
.task .task-header .task-meta .task-delete {
  font-size: 16px;
  color: #999999;
  margin-left: 10px;
}
.task .task-header .task-meta .task-delete:hover {
  color: #f26c4f;
}
.task.completed .task-header .task-name {
  color: #999999;
  text-decoration: line-through;
}
.task .task-comment {
  font-size: 16px;
  margin-bottom: 20px;
}
.task .task-comment .comment-author {
  font-size: 14px;
  color: #999999;
  line-height: 20px;
  margin-bottom: 5px;
}
.task .task-comment .comment-author .name {
  font-size: 16px;
  font-weight: 500;
  color: #444444;
}
.task .task-comment .comment-author .date {
  font-size: 14px;
  color: #999999;
}
.task .task-comment .comment-author .avatar img {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 15px;
}
.task .task-comment .comment-author .delete {
  font-size: 14px;
  color: #999999;
}
.task .task-comment .comment-author .delete:hover {
  color: #f26c4f;
}
.task .task-comment .comment-content {
  margin-left: 55px;
}
.task .task-comment .comment-content h1, .task .task-comment .comment-content h2, .task .task-comment .comment-content h3, .task .task-comment .comment-content h4, .task .task-comment .comment-content h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 20px 0;
}
.task .task-comment .comment-content h1 {
  margin-top: 0;
}
.task .task-comment .comment-content p {
  margin-bottom: 20px;
}
.task .task-comment .comment-content ol {
  list-style: decimal;
  margin: 0 0 20px 30px;
}
.task .task-comment .comment-content ul {
  list-style: disc;
  margin: 0 0 20px 25px;
}
.task .task-comment .comment-content p:last-child,
.task .task-comment .comment-content ul:last-child,
.task .task-comment .comment-content ol:last-child {
  margin-bottom: 0;
}
.task .task-comment .task-comment-attachments {
  margin: 0 0 0 55px;
  zoom: 1;
}
.task .task-comment .task-comment-attachments:before, .task .task-comment .task-comment-attachments:after {
  content: "";
  display: table;
}
.task .task-comment .task-comment-attachments:after {
  clear: both;
}
.task .task-comment .task-comment-attachments li {
  display: block;
  float: left;
  width: 171px;
  height: 220px;
  border: 1px solid #eee;
  margin: 20px 20px 0 0;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
}
.task .task-comment .task-comment-attachments li .thumb {
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid #eee;
  height: 150px;
  overflow: hidden;
  margin-bottom: 13px;
}
.task .task-comment .task-comment-attachments li .thumb:before {
  font-size: 26px;
  line-height: 150px;
  color: #aaa;
}
.task .task-comment .task-comment-attachments li .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 20px;
  color: #444444;
}
.task .task-comment .task-comment-attachments li a:hover .name {
  color: #2e7aeb;
}
.task .task-comment .task-comment-attachments li .meta {
  color: #999999;
}
.task .task-comment-create {
  position: relative;
}
.task .task-comment-create .comment-author .avatar img {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 15px;
}
.task .task-comment-create .comment-form {
  overflow: auto;
}
.task .task-comment-create .attach-files {
  margin-left: 15px;
}
.task .task-comment-create .create-task-comment-attachment {
  margin-bottom: 5px;
}
.task .task-comment-create .create-task-comment-attachment .size {
  color: #999999;
  margin: 0 3px;
}
.task .task-comment-create .create-task-comment-attachment .delete-attachment {
  display: none;
  font-size: 16px;
  color: #999999;
}
.task .task-comment-create .create-task-comment-attachment .delete-attachment:hover {
  color: #f26c4f;
}
.task .task-comment-create .create-task-comment-attachment.uploaded .progress {
  display: none;
}
.task .task-comment-create .create-task-comment-attachment.uploaded .delete-attachment {
  display: inline;
}
.task .task-comment-create .formatting {
  float: right;
  line-height: 42px;
  color: #999999;
}
.task .task-comment-create .formatting:hover {
  color: #2e7aeb;
}
.task .task-comment-create label,
.task .task-comment-create .btn,
.task .task-comment-create div[data-error],
.task .task-comment-create .attach-files,
.task .task-comment-create .attach-files-list,
.task .task-comment-create .formatting {
  display: none;
}
.task .task-comment-create textarea {
  width: 100%;
  height: 47px;
}
.task .task-comment-create.active .btn, .task .task-comment-create.active .attach-files, .task .task-comment-create.active .formatting {
  display: inline-block;
}
.task .task-comment-create.active div[data-error], .task .task-comment-create.active .attach-files-list {
  display: block;
}
.task .task-comment-create.active textarea {
  height: 150px;
}

.task-create {
  padding-top: 5px;
}
.task-create label,
.task-create input,
.task-create textarea,
.task-create select,
.task-create .error div[data-error],
.task-create .styled-select {
  display: none;
}
.task-create input[name="name"], .task-create.active input, .task-create.active textarea, .task-create.active select, .task-create.active .error div[data-error], .task-create.active .styled-select {
  display: block;
}
.task-create.active .btn {
  display: inline-block;
}

.formatting-help-modal .modal-content table th, .formatting-help-modal .modal-content table td {
  line-height: 1.6em;
}
.formatting-help-modal .modal-content h1, .formatting-help-modal .modal-content h2, .formatting-help-modal .modal-content h3, .formatting-help-modal .modal-content h4, .formatting-help-modal .modal-content h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 20px 0;
}
.formatting-help-modal .modal-content h1 {
  margin-top: 0;
}
.formatting-help-modal .modal-content p {
  margin-bottom: 20px;
}
.formatting-help-modal .modal-content ol {
  list-style: decimal;
  margin: 0 0 20px 30px;
}
.formatting-help-modal .modal-content ul {
  list-style: disc;
  margin: 0 0 20px 25px;
}

#account {
  width: 300px;
  margin: 0 auto;
}
#account h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 30px 0;
}
#account .avatar {
  display: block;
  margin: 0 auto 30px auto;
  border-radius: 100px;
  height: 100px;
}
#account form {
  margin-bottom: 40px;
}
#account span.error {
  margin-left: 5px;
}
#account .forgot-password,
#account .back-to-login {
  float: right;
  line-height: 42px;
  color: #999999;
}
#account .forgot-password:hover,
#account .back-to-login:hover {
  color: #2e7aeb;
}

#team .users-access tr:hover td {
  background: #FFFEF2;
}
#team .users-access td.action {
  text-align: right;
}
#team .users-access .avatar {
  margin: 5px 10px 0 0;
  border-radius: 30px;
}
#team .users-access .owner {
  color: #7ac673;
}
#team .users-access .remove-user {
  font-size: 16px;
  color: #999999;
}
#team .users-access .remove-user:hover {
  color: #f26c4f;
}
#team .users-access .status.invited {
  color: #7ac673;
}
#team .users-access .status.banned {
  color: #f26c4f;
}
#team .upgrade {
  margin-top: 50px;
}

#activity li {
  height: 40px;
  line-height: 40px;
  margin-bottom: 5px;
  overflow: hidden;
}
#activity li img {
  display: block;
  float: left;
  margin: 5px 10px 0 0;
  border-radius: 40px;
}
#activity li .user {
  font-weight: bold;
}
#activity li .time {
  color: #999999;
  margin-left: 10px;
}

#billing .pricing-table {
  text-align: center;
  font-size: 16px;
  zoom: 1;
}
#billing .pricing-table:before, #billing .pricing-table:after {
  content: "";
  display: table;
}
#billing .pricing-table:after {
  clear: both;
}
#billing .pricing-table .plan {
  float: left;
  width: 30%;
  margin: 0 5% 50px 0;
  padding: 40px 30px;
  border: 2px solid #ddd;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#billing .pricing-table .plan.enterprise {
  margin-right: 0;
}
#billing .pricing-table .plan h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0 0 20px 0;
}
#billing .pricing-table .plan ul {
  margin: 0 0 20px 0;
}
#billing .pricing-table .plan .price {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}
#billing .pricing-table .plan .price .timeframe {
  font-size: 14px;
  color: #999999;
}
#billing .pricing-table .plan .btn {
  display: block;
  font-size: 16px;
  padding: 15px 0;
}
#billing .pricing-table .risk {
  clear: both;
  color: #bbb;
  margin-bottom: 0;
}
#billing .pricing-table .edit-billing,
#billing .pricing-table .downgrade-team {
  margin-top: 20px;
}
#billing .faq {
  border-top: 1px solid #eee;
  padding-top: 50px;
  margin-top: 50px;
  zoom: 1;
}
#billing .faq:before, #billing .faq:after {
  content: "";
  display: table;
}
#billing .faq:after {
  clear: both;
}
#billing .faq .pull-left,
#billing .faq .pull-right {
  width: 47%;
}
#billing .faq h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0 0 10px 0;
}
#billing .faq p {
  margin-bottom: 40px;
}

#upgrade,
#billing-edit {
  width: 300px;
  margin: 0 auto;
}
#upgrade h1,
#billing-edit h1 {
  text-align: center;
}
#upgrade .encryption,
#billing-edit .encryption {
  color: #7ac673;
  text-align: center;
  margin-bottom: 30px;
}
#upgrade .return,
#billing-edit .return {
  float: right;
  color: #999999;
  line-height: 42px;
}
#upgrade .return:hover,
#billing-edit .return:hover {
  color: #2e7aeb;
}

#import {
  width: 400px;
  margin: 0 auto;
}
