/*=================================*/
/* Artisan
/*=================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* make buttons play nice in IE:   
    www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}

/* Sharper Thumbnails */
img {
  -ms-interpolation-mode: bicubic;
}

ul, ol {
  list-style: none;
}

input,
textarea,
select,
.styled-select {
  font: 14px/22px "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  background: white;
  border: 1px solid #dddddd;
  margin: 0 0 20px 0;
  padding: 9px 12px;
  outline: 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input:hover,
textarea:hover,
select:hover,
.styled-select:hover {
  border-color: #cccccc;
}
input:focus,
textarea:focus,
select:focus,
.styled-select:focus {
  border-color: #2e7aeb;
}

input[type="checkbox"] {
  height: auto;
}

textarea {
  height: 130px;
  line-height: 1.6;
  padding: 12px;
}

form input,
form textarea,
form select,
form .styled-select {
  width: 100%;
}
form .btn {
  width: auto;
}

.backbone-form label {
  display: none;
}
.backbone-form [data-error] {
  float: left;
  color: #f26c4f;
  margin: -15px 0 15px 0;
}

.styled-select {
  padding: 0;
  position: relative;
  clear: both;
}
.styled-select select {
  width: 100%;
  color: #999999;
  background: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}
.styled-select:after {
  display: block;
  content: '';
  position: absolute;
  top: 45%;
  right: 12px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #cccccc transparent transparent transparent;
}
.styled-select:hover:after {
  border-color: #999999 transparent transparent transparent;
}

input[type="submit"] {
  -webkit-appearance: none;
}

.btn,
a.btn,
a.btn:visited,
input.btn {
  display: inline-block;
  background: #7ac673;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  padding: 10px 18px;
  border: 0;
  border-radius: 3px;
}
.btn:hover, .btn:active,
a.btn:hover,
a.btn:active,
a.btn:visited:hover,
a.btn:visited:active,
input.btn:hover,
input.btn:active {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}
.btn.danger,
a.btn.danger,
a.btn:visited.danger,
input.btn.danger {
  background: #f26c4f;
}
.btn.danger:hover,
a.btn.danger:hover,
a.btn:visited.danger:hover,
input.btn.danger:hover {
  background: #f26c4f;
}
.btn.alt,
a.btn.alt,
a.btn:visited.alt,
input.btn.alt {
  color: #444444 !important;
  background-color: #f4f5f6;
}
.btn.alt:hover,
a.btn.alt:hover,
a.btn:visited.alt:hover,
input.btn.alt:hover {
  background-color: #e9ebec;
  opacity: 1;
}

body,
html {
  height: 100%;
}

body {
  font: 14px/22px "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  background: white;
  -webkit-text-size-adjust: none;
}

a, a:visited {
  color: #2e7aeb;
  text-decoration: none;
}

a:hover, a:active {
  color: #444444;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.7em;
  margin-top: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

p {
  margin-bottom: 1em;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

abbr, acronym {
  cursor: help;
  border-bottom: .1em dotted;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

code {
  font: 13px/22px Consolas, monaco, monospace;
  background: #FFFDDC;
  color: #555;
  padding: 1px 5px;
  border-radius: 2px;
}

pre {
  background: #FFFDDC;
  padding: 20px;
  margin-bottom: 1em;
  overflow: auto;
}
pre code {
  background: none;
  padding: 0;
}

blockquote {
  font-style: italic;
  margin: 0 0 1em 0;
  padding-left: 15px;
  border-left: 3px solid #eee;
}

hr {
  height: 0;
  border: 1px solid #eee;
  margin: 1em 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.error {
  color: #f26c4f;
}

.success {
  color: #7ac673;
}

@font-face {
  font-family: "artisan-site";
  src: url("../fonts/artisan-site.eot");
  src: url("../fonts/artisan-site.eot?#iefix") format("embedded-opentype"), url("../fonts/artisan-site.ttf") format("truetype"), url("../fonts/artisan-site.svg#artisan-icons") format("svg"), url("../fonts/artisan-site.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "artisan-site" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "artisan-site" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "a";
}

.icon-support:before {
  content: "b";
}

.icon-money:before {
  content: "c";
}

h1, h2, h3, h4 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.inner {
  width: 800px;
  margin: 0 auto;
}

.header {
  min-height: 145px;
  zoom: 1;
}
.header:before, .header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
.header .header-content {
  position: relative;
  z-index: 2;
}
.header .logo {
  float: left;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin: 50px 0 0 100px;
  -webkit-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}
.header .logo:hover {
  color: #444444;
}
.header .nav {
  float: right;
  margin: 50px 100px 0 0;
}
.header .nav li {
  display: inline;
  line-height: 20px;
  margin-left: 20px;
}
.header .nav a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #999999;
  padding: 10px 15px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.header .nav a:hover {
  color: #444444;
}
.header .nav .signup {
  margin-left: 30px;
}
.header .nav .signup a {
  border: 2px solid #999999;
  border-radius: 3px;
}
.header .nav .signup a:hover {
  border-color: #444444;
}
.header .page-title {
  clear: both;
  padding: 100px;
  text-align: center;
}
.header .page-title h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin: 0 0 15px 0;
}
.header .page-title h2 {
  display: block;
  font-size: 27px;
  line-height: 40px;
  margin: 0 auto;
  color: #999999;
  max-width: 670px;
}
.header .page-title .btn {
  font-size: 20px;
  font-weight: 600;
  text-shadow: none;
  padding: 15px 30px;
  margin: 30px 0 0 0;
}
.header .page-title .risk {
  display: inline-block;
  margin: 15px 0 0 0;
  color: #bbb;
}
@media screen and (max-width: 700px) {
  .header {
    text-align: center;
  }
  .header .logo {
    display: inline-block;
    float: none;
    margin: 50px 0;
  }
  .header .nav {
    float: none;
    margin: 0 0 50px 0;
  }
}

.content {
  margin: 0 100px;
}

.footer {
  margin: 50px 100px;
  padding-top: 50px;
  border-top: 1px solid #eee;
  color: #bbb;
  zoom: 1;
}
.footer:before, .footer:after {
  content: "";
  display: table;
}
.footer:after {
  clear: both;
}
.footer .nav {
  float: left;
}
.footer .nav li {
  display: inline;
}
.footer .nav a {
  color: #999999;
  margin-right: 20px;
}
.footer .nav a:hover {
  color: #2e7aeb;
}
.footer .copyright {
  margin-right: 20px;
}
.footer .twitter-follow-button {
  float: right;
  margin-top: -22px;
}
@media screen and (max-width: 1000px) {
  .footer .nav {
    float: none;
    margin: 0 0 20px 0;
  }
  .footer .pull-right {
    float: none;
  }
  .footer .twitter-follow-button {
    float: none;
    margin: 0;
  }
}
@media screen and (max-width: 700px) {
  .footer {
    text-align: center;
  }
}

#home .features {
  max-width: 800px;
  margin: 0 auto;
}
#home .features .feature {
  margin-bottom: 100px;
  zoom: 1;
}
#home .features .feature:before, #home .features .feature:after {
  content: "";
  display: table;
}
#home .features .feature:after {
  clear: both;
}
#home .features .feature img {
  float: right;
  margin: 0 0 0 50px;
}
#home .features .feature.alt img {
  float: left;
  margin: 0 50px 0 0;
}
#home .features .feature h3 {
  margin: 120px 0 20px 0;
}
@media screen and (max-width: 900px) {
  #home .features .feature img,
  #home .features .feature.alt img {
    display: block;
    float: none;
    margin: 0 auto 50px;
    max-width: 100%;
    height: auto;
    border: 1px solid #eee;
    border-radius: 3px;
  }
  #home .features .feature h3,
  #home .features .feature.alt h3 {
    margin-top: 0;
  }
}
#home .demo-img {
  display: block;
  margin: 100px auto;
  width: 100%;
  height: auto;
  max-width: 992px;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
#home .cta {
  background: #2e7aeb;
  color: #fff;
  padding: 30px 40px;
  margin: 100px 0;
  line-height: 52px;
  border-radius: 3px;
  zoom: 1;
}
#home .cta:before, #home .cta:after {
  content: "";
  display: table;
}
#home .cta:after {
  clear: both;
}
#home .cta p {
  float: left;
  font-size: 20px;
  margin: 0;
}
#home .cta .btn {
  float: right;
  font-size: 20px;
  padding: 15px 30px;
}
@media screen and (max-width: 1100px) {
  #home .cta {
    text-align: center;
    line-height: 1.6em;
  }
  #home .cta p {
    float: none;
    margin-bottom: 30px;
  }
  #home .cta .btn {
    float: none;
  }
}

#pricing h1 {
  margin-bottom: 50px;
}
#pricing .pricing-table {
  text-align: center;
  font-size: 16px;
  zoom: 1;
}
#pricing .pricing-table:before, #pricing .pricing-table:after {
  content: "";
  display: table;
}
#pricing .pricing-table:after {
  clear: both;
}
#pricing .pricing-table .plan {
  float: left;
  width: 28%;
  margin: 0 8% 50px 0;
  padding: 40px;
  border: 2px solid #ddd;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#pricing .pricing-table .plan.business {
  margin-right: 0 !important;
}
#pricing .pricing-table .plan h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0 0 20px 0;
}
#pricing .pricing-table .plan ul {
  margin: 0 0 20px 0;
}
#pricing .pricing-table .plan .price {
  font-size: 18px;
}
#pricing .pricing-table .plan .price .timeframe {
  font-size: 14px;
  color: #999999;
}
@media screen and (max-width: 1000px) {
  #pricing .pricing-table .plan {
    width: 31%;
    margin-right: 3.5%;
  }
}
@media screen and (max-width: 800px) {
  #pricing .pricing-table .plan {
    float: none;
    width: 100%;
    margin: 0 0 50px 0;
  }
}
#pricing .pricing-table .btn {
  font-size: 18px;
  padding: 20px 30px;
}
#pricing .pricing-table .risk {
  color: #bbb;
  margin-bottom: 20px;
}
#pricing .faq {
  border-top: 1px solid #eee;
  padding-top: 70px;
  margin-top: 70px;
  zoom: 1;
}
#pricing .faq:before, #pricing .faq:after {
  content: "";
  display: table;
}
#pricing .faq:after {
  clear: both;
}
#pricing .faq .pull-left,
#pricing .faq .pull-right {
  width: 47%;
}
@media screen and (max-width: 700px) {
  #pricing .faq .pull-left,
  #pricing .faq .pull-right {
    float: none;
    width: 100%;
  }
}
#pricing .faq h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0 0 10px 0;
}
#pricing .faq p {
  margin-bottom: 40px;
}

#terms,
#privacy {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}
#terms ul,
#privacy ul {
  list-style: disc;
  margin: 0 0 1em 20px;
}
#terms ol,
#privacy ol {
  list-style: decimal;
  margin: 0 0 1em 25px;
}
@media screen and (max-width: 800px) {
  #terms,
  #privacy {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
}

@media screen and (max-width: 500px) {
  .header .nav .pricing {
    margin-left: 0;
  }

  .header .page-title {
    padding: 0 20px 50px;
  }

  .content {
    margin: 0 20px;
  }

  .footer {
    margin: 50px 20px;
  }
}
