//=================================
// Button Styles
//=================================

input[type="submit"] { -webkit-appearance: none; }

.btn,
a.btn,
a.btn:visited,
input.btn {
	display: inline-block;
	background: $color-primary;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	padding: 10px 18px;
	border: 0;
	border-radius: 3px;

	&:hover,
	&:active {
		color: #fff;
		text-decoration: none;
		opacity: 0.9;
	}

	&.danger {
		background: $color-warning;
		&:hover { background: $color-warning; }
	}
	&.alt {
		color: $color-text !important;
		background-color: #f4f5f6;
		&:hover {
			background-color: #e9ebec;
			opacity: 1;
		}
	}
}
