//=================================
// Modal Styles
//=================================

/* Modal positioning */
.bbm-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99998;
	width: 100%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
}
.bbm-modal {
	margin: 100px auto;
	width: auto;
	max-width: 600px;
	box-sizing: border-box;
}
.bbm-views {
	width: 100%;
	box-sizing: border-box;
}

/* Modal stlying */
.bbm-wrapper {
	background: rgba(255,255,255,0.8);
	transition: background-color 0.3s;
}
.bbm-modal {
	background: #fff;
	border: 1px solid #ddd;
	padding: 30px;
	box-shadow: 0 0 6px rgba(0,0,0,0.12);
	border-radius: 3px;
}
.modal-title {
	font-size: 20px;
	font-weight: 500;
	margin: 0 0 20px 0;
}
.modal-content .btn { margin-bottom: 0; }

/*
 * Bootstrap Modal
 */
.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99998;
	width: 100%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	background: rgba(255,255,255,0.8);
	transition: background-color 0.3s;
}
.modal {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 99999;
	width: 500px;
	margin: 150px 0 0 -250px;
	overflow: auto;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #ddd;
	padding: 30px;
	box-shadow: 0 0 6px rgba(0,0,0,0.12);
	border-radius: 3px;

	input,
	textarea { width: 100%; }
	.btn { width: auto; }
	.modal-body {
		input[type="button"] { display: none; }
	}
}
