<a href="#" class="icon-bell" title="Activity"></a>
<ul class="dropit-submenu">
	<li class="loading"><a href="#/activity">Loading...</a></li>
	<li class="view-activity"><a href="#/activity">View Recent Activity</a></li>
</ul>
