<div class="modal-header">
	<h3 class="modal-title">Formatting Help</h3>
</div>
<div class="modal-content">
	<p>Artisan supports Markdown editing in comments. Here are some examples:</p>
	<p><strong>Italics &amp; Bold</strong></p>
	<table>
		<tr>
			<td style="width:50%"><code>*This is italicized*</code></td>
			<td><em>This is italicized</em></td>
		</tr>
		<tr>
			<td><code>**This is bold**</code></td>
			<td><strong>This is bold</strong></td>
		</tr>
	</table>
	<p><strong>Links</strong></p>
	<table>
		<tr>
			<td style="width:50%"><code>[artisan](http://artisan.so)</code></td>
			<td><a href="http://artisan.so" target="_blank">artisan</a></td>
		</tr>
	</table>
	<p><strong>Lists</strong></p>
	<table>
		<tr>
			<td style="width:50%"><pre><code>* List item 1
* List item 2
* List item 3</code></pre></td>
			<td><ul><li>List item 1</li><li>List item 2</li><li>List item 3</li></ul></td>
		</tr>
		<tr>
			<td><pre><code>1. List item 1
2. List item 2
3. List item 3</code></pre></td>
			<td><ol><li>List item 1</li><li>List item 2</li><li>List item 3</li></ol></td>
		</tr>
	</table>
</div>
<div class="modal-footer">
	<a href="#" class="btn alt cancel">Close</a>
</div>
