<img src="<%= gravatar((user ? user.email : 'hi@artisan.so'), 30) %>" alt="">
<span class="user"><%= user ? user.name : 'Unknown' %></span>
<span class="action"><%
if(action == 'created' && type == 'comment'){
	print('commented')
} else {
	print(action +' the '+ type);
}
%></span>
<%
if(type == 'comment'){
	if(action == 'deleted'){
		print('<span class="object">&ldquo;'+ stripHTML(content.content.substring(0,50)) +'...&rdquo;</span>');
	} else {
		print('&ldquo;<a href="#/task/'+ content.task_id +'" class="object">'+ stripHTML(content.content.substring(0,50)) +'...</a>&rdquo;');
	}
} else {
	if(action == 'deleted'){
		print('<span class="object">'+ content.name +'</span>');
	} else {
		print('<a href="#/'+ type +'/'+ type_id +'" class="object">'+ content.name +'</a>');
	}
}
%>
<span class="time"><%= moment(created_at).fromNow() %></span>
