<div class="milestone-header">
	<a href="#/milestone/{{id}}">
		<span class="milestone-name">{{name}}</span>
		<span class="milestone-description" title="{{description}}">{{description}}</span>
	</a>
</div>
<div class="milestone-body"></div>
