<div class="milestone-header">
	<span class="breadcrumb">
		<a href="#/project/{{project.id}}" class="project-breadcrumb">{{project.name}}</a>
		<span class="sep">/</span>
	</span>
	<span class="milestone-name">{{name}}</span>
	<span class="milestone-description" title="{{description}}">{{description}}</span>
	<div class="milestone-meta">
		<span class="milestone-createdat">Created on {{formatDate created_at}}</span>
		<a href="#" class="icon-pencil milestone-edit" title="Edit Milestone"></a>
		<a href="#" class="icon-trash milestone-delete" title="Delete Milestone"></a>
	</div>
</div>
<div class="milestone-body"></div>
