<a href="#/project/{{id}}" class="project-link">
	<span class="project-name" title="{{name}}">{{name}}</span>
	<span class="project-description" title="{{description}}">{{description}}</span>
	<span class="project-meta">
		<ul class="users">
			{{#each users}}
				<li><img src="{{#gravatar this.email size="30"}}{{/gravatar}}" title="{{this.name}}" alt=""></li>
			{{/each}}
		</ul>
	</span>
</a>
<a href="#" class="icon-pencil project-edit" title="Edit Project"></a>
<a href="#" class="icon-trash project-delete" title="Delete Project"></a>
