<div class="comment-author">
	<span class="avatar"><img src="{{#gravatar user.email size="40"}}{{/gravatar}}" alt=""></span>
	<span class="name">{{#if user.name}}{{user.name}}{{else}}Unknown{{/if}}</span><br>
	<span class="date">Posted {{formatDate created_at format="relative"}}</span>
	<span class="comment-delete">- <a href="#" class="delete">Delete</a></span>
</div>
<div class="comment-content">{{content}}</div>
<div class="comment-attachments"></div>
