<div class="task-header">
	<span class="breadcrumb">
		<a href="#/project/{{milestone.project.id}}" class="project-breadcrumb">{{milestone.project.name}}</a>
		<span class="sep">/</span>
		<a href="#/milestone/{{milestone_id}}" class="milestone-breadcrumb">{{milestone.name}}</a>
		<span class="sep">/</span>
	</span>
	<span class="task-name">{{name}}</span>
	<span class="task-description" title="{{description}}">{{description}}</span>
	<div class="task-meta">
		{{#if category}}
		<span class="task-category"><strong>Category:</strong> {{category.name}}</span>
		{{/if}}
		{{#if phase}}
		<span class="task-phase"><strong>Phase:</strong> {{phase.name}}</span>
		{{/if}}
		{{#if assigned_user}}
		<span class="task-assignedto"><strong>Assigned to:</strong> {{assigned_user.name}}</span>
		{{/if}}
		{{#if (formatDate due_date)}}
		<span class="task-duedate">Due date: {{formatDate due_date}}</span>
		{{/if}}
		{{#if created_by}}
		<span class="task-createdby">Created by {{created_by.name}} {{formatDate created_at format="relative"}}</span>
		{{/if}}
		<a href="#" class="icon-tick task-complete" title="Complete Task"></a>
		<a href="#" class="icon-pencil task-edit" title="Edit Task"></a>
		<a href="#" class="icon-trash task-delete" title="Delete Task"></a>
	</div>
</div>
<div class="task-body"></div>
