<div class="pull-right">
	{{#if category}}
	<span class="task-category">{{category.name}}</span>
	{{/if}}
	{{#if category}}{{#if phase}}
	<span class="sep">/</span>
	{{/if}}{{/if}}
	{{#if phase}}
	<span class="task-phase">{{phase.name}}</span>
	{{/if}}
	{{#if assigned_user}}
	<span class="task-assignedto">({{assigned_user.name}})</span>
	{{/if}}
	{{#if (formatDate due_date)}}
	<span class="task-duedate">{{formatDate due_date}}</span>
	{{/if}}
</div>
<input type="checkbox" class="completed"{{#if completed}} checked="checked"{{/if}}>
<a href="#/task/{{id}}">
	<span class="task-name">{{name}}</span>
	<span class="task-description">{{description}}</span>
</a>
