//=================================
// Icon Font Styles
//=================================

@charset "UTF-8";

@font-face {
  font-family: "artisan-icons";
  src:url("../fonts/artisan-icons.eot");
  src:url("../fonts/artisan-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/artisan-icons.ttf") format("truetype"),
    url("../fonts/artisan-icons.svg#artisan-icons") format("svg"),
    url("../fonts/artisan-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "artisan-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "artisan-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
   content: "a";
}

.icon-pencil:before {
   content: "b";
}

.icon-user:before {
   content: "c";
}

.icon-cog:before {
   content: "d";
}

.icon-upload:before {
   content: "e";
}

.icon-download:before {
   content: "f";
}

.icon-tick:before {
   content: "g";
}

.icon-cross:before {
   content: "h";
}

.icon-bell:before {
   content: "i";
}

.icon-file:before {
   content: "j";
}
