//=================================
// Input Styles
//=================================

input,
textarea,
select,
.styled-select {
	font: 14px/22px $font-family;
	color: $color-text;
	background: $color-input-bg;
	border: 1px solid $color-input-border;
	margin: 0 0 20px 0;
	padding: 9px 12px;
	outline: 0;
	border-radius: 3px;
	box-sizing: border-box;

	&:hover { border-color: $color-input-border-hover; }
	&:focus { border-color: $color-accent; }
}
input[type="checkbox"] { height: auto; }
textarea {
	height: 130px;
	line-height: 1.6;
	padding: 12px;
}

form {
	input,
	textarea,
	select,
	.styled-select { width: 100%; }
	.btn { width: auto; }
}
.backbone-form {
	label { display: none; }
	[data-error] {
		float: left;
		color: $color-warning;
		margin: -15px 0 15px 0;
	}
}

.styled-select {
	padding: 0;
	position: relative;
	clear: both;

	select {
		width: 100%;
		color: $color-text-muted;
		background: transparent;
		border: 0;
		border-radius: 0;
		margin: 0;
		-webkit-appearance: none;
		box-shadow: none;
		cursor: pointer;
	}

	&:after {
		display: block;
		content: '';
		position: absolute;
		top: 45%;
		right: 12px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 3px 3px 0 3px;
		border-color: $color-input-border-hover transparent transparent transparent;
	}
	&:hover:after { border-color: $color-text-muted transparent transparent transparent; }
}
